@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply w-64 bg-gray-200 shadow flex-col justify-between;
}

.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

@layer base {
  input, p, label, span{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    }
  button,h1,h2{
    ffont-family: 'Roboto', sans-serif;
    font-weight:500;
  }
  }